# Ignore everything
*

# Allow files and directories
!src
!public
!nginx
!.env
!.eslintrc
!.nvmrc
!app-config.yaml
!package.json
!package-lock.json
!yarn.lock
!tsconfig.json
!index.html
!vite.config.ts
!postcss.config.js

# Ignore unnecessary files inside allowed directories
**/*~
**/*.log
**/.DS_Store
