# Ignore everything
*

# Allow files and directories
!src
!public
!nginx
!.env
!.eslintrc
!.nvmrc
!app-config.yaml
!package.json
!package-lock.json
!yarn.lock
!.yarnrc.yml
!tsconfig.json
!index.html
!vite.config.ts
!postcss.config.js
!.yarn/releases
!@codexteam/ui/

# Ignore unnecessary files inside allowed directories
**/*~
**/*.log
**/.DS_Store
**/README.md
