[color-scheme='dark'] {
  --amber--bg-primary: #1B1918;
  --amber--bg-secondary: #292524;
  --amber--bg-secondary-hover: #2e2a29;
  --amber--border: #3C3836;
  --amber--solid-secondary: #362519;
  --amber--solid-hover: #893B00;
  --amber--solid: #DE6205;
  --amber--text-secondary: #90847C;
  --amber--text: #E4D4C8;
  --amber--text-solid-foreground: #FFFFFF;
  --amber-alert-success: #00A64D;
  --amber-alert-error: #BB393D;
  --amber-alert-warning: #DE6205;
  --amber-alert-info: #54617B;
}

[color-scheme='light'] {
  --amber--bg-primary: #efe3d8;
  --amber--bg-secondary: #fef6ee;
  --amber--bg-secondary-hover: #f6ebdf;
  --amber--border: #D5C5B6;
  --amber--solid-secondary: #E7C4A4;
  --amber--solid-hover: #9E5108;
  --amber--solid: #CC792B;
  --amber--text-secondary: #4D463F;
  --amber--text: #2C2825;
  --amber--text-solid-foreground: #ffffff;
  --amber-alert-success: #00A64D;
  --amber-alert-error: #BB393D;
  --amber-alert-warning: #DE6205;
  --amber-alert-info: #54617B;
}

/**
 * Set up the colors for data-theme attribute
 */
[theme-base='amber'] {
  --base--bg-primary: var(--amber--bg-primary);
  --base--bg-secondary: var(--amber--bg-secondary);
  --base--bg-secondary-hover: var(--amber--bg-secondary-hover);
  --base--border: var(--amber--border);
  --base--solid-secondary: var(--amber--solid-hover);
  --base--solid-hover: var(--amber--solid-hover);
  --base--solid: var(--amber--solid);
  --base--text-secondary: var(--amber--text-secondary);
  --base--text: var(--amber--text);
  --base--text-solid-foreground: var(--amber--text-solid-foreground);
  --base-alert-success: var(--amber-alert-success);
  --base-alert-error: var(--amber-alert-error);
  --base-alert-warning: var(--amber-alert-warning);
  --base-alert-info: var(--amber-alert-info);
}

[theme-accent='amber'] {
  --accent--bg-primary: var(--amber--bg-primary);
  --accent--bg-secondary: var(--amber--bg-secondary);
  --accent--bg-secondary-hover: var(--amber--bg-secondary-hover);
  --accent--border: var(--amber--border);
  --accent--solid-secondary: var(--amber--solid-secondary);
  --accent--solid-hover: var(--amber--solid-hover);
  --accent--solid: var(--amber--solid);
  --accent--text-secondary: var(--amber--text-secondary);
  --accent--text: var(--amber--text);
  --accent--text-solid-foreground: var(--amber--text-solid-foreground);
  --accent-alert-success: var(--amber-alert-success);
  --accent-alert-error: var(--amber-alert-error);
  --accent-alert-warning: var(--amber-alert-warning);
  --accent-alert-info: var(--amber-alert-info);
}
