[color-scheme='dark'] {
  /**
  * Classic Dark Colors
  */
  --classic--bg-primary: #242527;
  --classic--bg-secondary: #2c2d30;
  --classic--bg-secondary-hover: #3b3c40;
  --classic--border: #363940;
  --classic--solid-secondary: #27303b;
  --classic--solid-hover: #0075ff;
  --classic--solid: #1c84ff;
  --classic--text-secondary: #94979a;
  --classic--text: #f5f5f5;
  --classic--text-solid-foreground: #f5f5f5;
}

[color-scheme='light'] {
  /**
  * Classic Light Colors
  */
  --classic--bg-primary: #f0f1f6;
  --classic--bg-secondary: #fcfcfd;
  --classic--bg-secondary-hover: #f6f9fd;
  --classic--border: #e2e4ee;
  --classic--solid-secondary: #d7ecff;
  --classic--solid-hover: #2081da;
  --classic--solid: #2591f5;
  --classic--text-secondary: #535353;
  --classic--text: #202020;
  --classic--text-solid-foreground: #ffffff;
}

/**
* Set up the colors for theme Classic
*/
[theme-base='classic'] {
  --base--bg-primary: var(--classic--bg-primary);
  --base--bg-secondary: var(--classic--bg-secondary);
  --base--bg-secondary-hover: var(--classic--bg-secondary-hover);
  --base--border: var(--classic--border);
  --base--solid-secondary: var(--classic--solid-hover);
  --base--solid-hover: var(--classic--solid-hover);
  --base--solid: var(--classic--solid);
  --base--text-secondary: var(--classic--text-secondary);
  --base--text: var(--classic--text);
  --base--text-solid-foreground: var(--classic--text-solid-foreground);
}

[theme-accent='classic'] {
  --accent--bg-primary: var(--classic--bg-primary);
  --accent--bg-secondary: var(--classic--bg-secondary);
  --accent--bg-secondary-hover: var(--classic--bg-secondary-hover);
  --accent--border: var(--classic--border);
  --accent--solid-secondary: var(--classic--solid-secondary);
  --accent--solid-hover: var(--classic--solid-hover);
  --accent--solid: var(--classic--solid);
  --accent--text-secondary: var(--classic--text-secondary);
  --accent--text: var(--classic--text);
  --accent--text-solid-foreground: var(--classic--text-solid-foreground);
}
