[color-scheme='dark'][theme-base='classic'],
[color-scheme='dark'][theme-accent='classic'] {
  /**
  * Classic Dark Colors
  */
  --classic--bg-primary: #242527;
  --classic--bg-secondary: #2c2d30;
  --classic--bg-secondary-hover: #3b3c40;
  --classic--bg-input: #e70037;
  --classic--border: #363940;
  --classic--solid-hover: #0075ff;
  --classic--solid: #1c84ff;
  --classic--text-secondary: #94979a;
  --classic--text: #f5f5f5;
  --classic--text-solid-foreground: #f5f5f5;
}

[color-scheme='light'][theme-base='classic'],
[color-scheme='light'][theme-accent='classic'] {
  /**
  * Classic Light Colors
  */
  --classic--bg-primary: #FAFAFA;
  --classic--bg-secondary: #FAFAFA;
  --classic--bg-secondary-hover: #F4F4F4;
  --classic--bg-input: #EFF0F0;
  --classic--border: #E0E1E3;
  --classic--solid-hover: #FFF61E;
  --classic--solid: #2591F5;
  --classic--text-secondary: #535353;
  --classic--text: #202020;
  --classic--text-solid-foreground: #F5F5F5;
}

/**
* Set up the colors for theme Classic
*/
[theme-base='classic'] {
  --base--bg-primary: var(--classic--bg-primary);
  --base--bg-secondary: var(--classic--bg-secondary);
  --base--bg-secondary-hover: var(--classic--bg-secondary-hover);
  --base--bg-input: var(--classic--bg-input);
  --base--border: var(--classic--border);
  --base--solid-hover: var(--classic--solid-hover);
  --base--solid: var(--classic--solid);
  --base--text-secondary: var(--classic--text-secondary);
  --base--text: var(--classic--text);
  --base--text-solid-foreground: var(--classic--text-solid-foreground);
}

[theme-accent='classic'] {
  --accent--bg-primary: var(--classic--bg-primary);
  --accent--bg-secondary: var(--classic--bg-secondary);
  --accent--bg-secondary-hover: var(--classic--bg-secondary-hover);
  --accent--input: var(--classic--bg-input);
  --accent--border: var(--classic--border);
  --accent--solid: var(--classic--solid);
  --accent--text-secondary: var(--classic--text-secondary);
  --accent--text: var(--classic--text);
  --accent--text-solid-foreground: var(--classic--text-solid-foreground);
}
