body[theme-base="classic"],
body[theme-accent="classic"] {
  /**
  * Classic Dark Colors
  */
  --classic--bg-primary: #000000;
  --classic--bg-secondary: #000000;
  --classic--bg-secondary-hover:#191919;
  --classic--bg-input: #191919;
  --classic--border: #1C1C1C;
  --classic--solid-hover: #F8FD1A;
  --classic--solid: #3E3E3E;
  --classic--text-secondary: #828282;
  --classic--text: #FFFFFF;
  --classic--text-solid-foreground: #FFFFFF;
}

/**
* Set up the colors for theme Classic
*/
body[theme-base="classic"] {
  --base--bg-primary: var(--classic--bg-primary);
  --base--bg-secondary: var(--classic--bg-secondary);
  --base--bg-secondary-hover: var(--classic--bg-secondary-hover);
  --base--bg-input: var(--classic--bg-input);
  --base--border: var(--classic--border);
  --base--solid-hover: var(--classic--solid-hover);
  --base--solid: var(--classic--solid);
  --base--text-secondary: var(--classic--text-secondary);
  --base--text: var(--classic--text);
  --base--text-solid-foreground: var(--classic--text-solid-foreground);
}

body[theme-accent="classic"] {
  --accent--bg-primary: var(--classic--bg-primary);
  --accent--bg-secondary: var(--classic--bg-secondary);
  --accent--bg-secondary-hover: var(--classic--bg-secondary-hover);
  --accent-input: var(--classic--bg-input);
  --accent--border: var(--classic--border);
  --accent--solid: var(--classic--solid);
  --accent-text-secondary: var(--classic--text-secondary);
  --accent-text: var(--classic--text);
  --accent-text-solid-foreground: var(--classic--text-solid-foreground);
}
