[color-scheme='dark'] {
  /**
    * Crimson Dark Colors
    */
  --crimson--bg-primary: #1F1B1D;
  --crimson--bg-secondary: #282123;
  --crimson--bg-secondary-hover: #2D2629;
  --crimson--border: #342B2D;
  --crimson--solid-secondary: #321F25;
  --crimson--solid-hover: #600F27;
  --crimson--solid: #DD2058;
  --crimson--text-secondary: #887076;
  --crimson--text: #F9DAE3;
  --crimson--text-solid-foreground: #FFF6FA;
}

[color-scheme='light'] {
  /**
    * Crimson Light Colors
    */
  --crimson--bg-primary: #FADCE7;
  --crimson--bg-secondary: #FFE8F1;
  --crimson--bg-secondary-hover: #fae2ed;
  --crimson--border: #F3D0E1;
  --crimson--solid-secondary: #FFBFD9;
  --crimson--solid-hover: #C52465;
  --crimson--solid: #DC3377;
  --crimson--text-secondary: #844860;
  --crimson--text: #3D2230;
  --crimson--text-solid-foreground: #F9F9F9;
}

/**
* Set up color for the theme Crimson
*/
[theme-base='crimson'] {
  --base--bg-primary: var(--crimson--bg-primary);
  --base--bg-secondary: var(--crimson--bg-secondary);
  --base--bg-secondary-hover: var(--crimson--bg-secondary-hover);
  --base--border: var(--crimson--border);
  --base--solid-secondary: var(--crimson--solid-secondary);
  --base--solid-hover: var(--crimson--solid-hover);
  --base--solid: var(--crimson--solid);
  --base--text-secondary: var(--crimson--text-secondary);
  --base--text: var(--crimson--text);
  --base--text-solid-foreground: var(--crimson--text-solid-foreground);
}

[theme-accent='crimson'] {
  --accent--bg-primary: var(--crimson--bg-primary);
  --accent--bg-secondary: var(--crimson--bg-secondary);
  --accent--bg-secondary-hover: var(--crimson--bg-secondary-hover);
  --accent--border: var(--crimson--border);
  --accent--solid-secondary: var(--crimson--solid-secondary);
  --accent--solid-hover: var(--crimson--solid-hover);
  --accent--solid: var(--crimson--solid);
  --accent--text-secondary: var(--crimson--text-secondary);
  --accent--text: var(--crimson--text);
  --accent--text-solid-foreground: var(--crimson--text-solid-foreground);
}
