[mode='dark'][theme-base='crimson'],
[theme-accent='crimson'] {
  /**
    * Crimson Dark Colors
    */
  --crimson--bg-primary: #1d1a1b;
  --crimson--bg-secondary: #272324;
  --crimson--bg-secondary-hover: #322a2d;
  --crimson--bg-input: #383134;
  --crimson--border: #51383e;
  --crimson--solid-secondary: #311c22;
  --crimson--solid-hover: #600f27;
  --crimson--solid: #dd2058;
  --crimson--text-secondary: #a4858d;
  --crimson--text: #fadbe4;
  --crimson--text-solid-foreground: #f9f9f9;
}

[mode='light'],[theme-base='crimson'],
[theme-accent='crimson'] {
  /**
    * Crimson Light Colors
    */
  --crimson--bg-primary: #F3D0E1;
  --crimson--bg-secondary: #0229F9;
  --crimson--bg-secondary-hover: #F7DCE8;
  --crimson--bg-input: #FBDCEA;
  --crimson--border: #F3D0E1;
  --crimson--solid-secondary: #0229F9;
  --crimson--solid-hover: #EB82AC;
  --crimson--solid: #E93D82;
  --crimson--text-secondary: #4B3D41;
  --crimson--text: #1A1417;
  --crimson--text-solid-foreground: #F9F9F9;
}

/**
* Set up color for the theme Crimson
*/
[theme-base='crimson'] {
  --base--bg-primary: var(--crimson--bg-primary);
  --base--bg-secondary: var(--crimson--bg-secondary);
  --base--bg-secondary-hover: var(--crimson--bg-secondary-hover);
  --base--bg-input: var(--crimson--bg-input);
  --base--border: var(--crimson--border);
  --base--solid-secondary: var(--crimson--solid-secondary);
  --base--solid-hover: var(--crimson--solid-hover);
  --base--solid: var(--crimson--solid);
  --base--text-secondary: var(--crimson--text-secondary);
  --base--text: var(--crimson--text);
  --base--text-solid-foreground: var(--crimson--text-solid-foreground);
}

[theme-accent='crimson'] {
  --accent--bg-primary: var(--crimson--bg-primary);
  --accent--bg-secondary: var(--crimson--bg-secondary);
  --accent--bg-secondary-hover: var(--crimson--bg-secondary-hover);
  --accent--bg-input: var(--crimson--bg-input);
  --accent--border: var(--crimson--border);
  --accent--solid-secondary: var(--crimson--solid-secondary);
  --accent--solid-hover: var(--crimson--solid-hover);
  --accent--solid: var(--crimson--solid);
  --accent--text-secondary: var(--crimson--text-secondary);
  --accent--text: var(--crimson--text);
  --accent--text-solid-foreground: var(--crimson--text-solid-foreground);
}
