
body[theme-base="crimson"],
body[theme-accent="crimson"]{
    /**
    * Crimson Dark Colors
    */
    --crimson--bg-primary: #1D1A1B;
    --crimson--bg-secondary: #272324;
    --crimson--bg-secondary-hover:#322A2D;
    --crimson--bg-input: #383134;
    --crimson--border: #51383E;
    --crimson--solid-secondary: # ;
    --crimson--solid-hover: #600F27;
    --crimson--solid: #DD2058;
    --crimson--text-secondary: #A4858D;
    --crimson--text: #FADBE4;
    --crimson--text-solid-foreground: #F9F9F9;
}

/**
* Set up color for the theme Crimson
*/
body[theme-base="crimson"] {
  --base--bg-primary: var(--crimson--bg-primary);
  --base--bg-secondary: var(--crimson--bg-secondary);
  --base--bg-secondary-hover: var(--crimson--bg-secondary-hover);
  --base--bg-input: var(--crimson--bg-input);
  --base--border: var(--crimson--border);
  --base--solid-secondary: var(--crimson--solid-secondary);
  --base--solid-hover: var(--crimson--solid-hover);
  --base--solid: var( --crimson--solid);
  --base--text-secondary: var(--crimson--text-secondary);
  --base--text: var(--crimson--text);
  --base--text-solid-foreground: var(--crimson--text-solid-foreground);
}

body[theme-accent="crimson"] {
  --accent--bg-primary: var(--crimson--bg-primary);
  --accent--bg-secondary: var(--crimson--bg-secondary);
  --accent--bg-secondary-hover: var(--crimson--bg-secondary-hover);
  --accent--bg-input: var(--crimson--bg-input);
  --accent--border: var(--crimson--border);
  --accent--solid-secondary: var(--crimson--solid-secondary);
  --accent--solid-hover: var(--crimson--solid-hover);
  --accent--solid: var(--crimson--solid);
  --accent--text-secondary: var(--crimson--text-secondary);
  --accent--text: var(--crimson--text);
  --accent--text-solid-foreground: var(--crimson--text-solid-foreground);
}



