[color-scheme='dark'] {
  --graphite--bg-primary: #23252A;
  --graphite--bg-secondary: #282B31;
  --graphite--bg-secondary-hover: #2D3037;
  --graphite--border: #32363C;
  --graphite--solid-secondary: #1A1D21;
  --graphite--solid-hover: #343A47;
  --graphite--solid: #54617B;
  --graphite--text-secondary: #747E88;
  --graphite--text: #F6F7F9;
  --graphite--text-solid-foreground: #F5F5F5;
  --graphtite-alert-success: #00A64D;
  --graphtite-alert-error: #BB393D;
  --graphtite-alert-warning: #DE6205;
  --graphtite-alert-info: #54617B;
}

[color-scheme='light'] {
  --graphite--bg-primary: #EAEDF5;
  --graphite--bg-secondary: #F8F9FD;
  --graphite--bg-secondary-hover: #F1F6FD;
  --graphite--border: #E1E3ED;
  --graphite--solid-secondary: #D6E2ED;
  --graphite--solid-hover: #2B3239;
  --graphite--solid: #3C4351;
  --graphite--text-secondary: #565B65;
  --graphite--text: #202020;
  --graphite--text-solid-foreground: #FFFFFF;
  --graphtite-alert-success: #00A64D;
  --graphtite-alert-error: #BB393D;
  --graphtite-alert-warning: #DE6205;
  --graphtite-alert-info: #54617B;
}

[theme-base='graphite'] {
  --base--bg-primary: var(--graphite--bg-primary);
  --base--bg-secondary: var(--graphite--bg-secondary);
  --base--bg-secondary-hover: var(--graphite--bg-secondary-hover);
  --base--border: var(--graphite--border);
  --base--solid-secondary: var(--graphite--solid-hover);
  --base--solid-hover: var(--graphite--solid-hover);
  --base--solid: var(--graphite--solid);
  --base--text-secondary: var(--graphite--text-secondary);
  --base--text: var(--graphite--text);
  --base--text-solid-foreground: var(--graphite--text-solid-foreground);
  --base-alert-success: var(--graphtite-alert-success);
  --base-alert-error: var(--graphtite-alert-error);
  --base-alert-warning: var(--graphtite-alert-warning);
  --base-alert-info: var(--graphtite-alert-info);
}

[theme-accent='graphite'] {
  --accent--bg-primary: var(--graphite--bg-primary);
  --accent--bg-secondary: var(--graphite--bg-secondary);
  --accent--bg-secondary-hover: var(--graphite--bg-secondary-hover);
  --accent--border: var(--graphite--border);
  --accent--solid-secondary: var(--graphite--solid-secondary);
  --accent--solid-hover: var(--graphite--solid-hover);
  --accent--solid: var(--graphite--solid);
  --accent--text-secondary: var(--graphite--text-secondary);
  --accent--text: var(--graphite--text);
  --accent--text-solid-foreground: var(--graphite--text-solid-foreground);
  --accent-alert-success: var(--graphtite-alert-success);
  --accent-alert-error: var(--graphtite-alert-error);
  --accent-alert-warning: var(--graphtite-alert-warning);
  --accent-alert-info: var(--graphtite-alert-info);
}
