[color-scheme='dark'] {
  /**
    * Grass Dark Colors
    */
  --grass--bg-primary: #151D18;
  --grass--bg-secondary: #1C2820;
  --grass--bg-secondary-hover: #233028;
  --grass--border: #26342B;
  --grass--solid-secondary: #1B2F22;
  --grass--solid-hover: #017E3B;
  --grass--solid: #00A64D;
  --grass--text-secondary: #729180;
  --grass--text: #f3fff9;
  --grass--text-solid-foreground: #EAFFF4;
}

[color-scheme='light'] {
  /**
    * Grass Light Colors
    */
  --grass--bg-primary: #DDF7EB;
  --grass--bg-secondary: #f3fff8;
  --grass--bg-secondary-hover: #d7f9e7;
  --grass--border: #BFE7D1;
  --grass--solid-secondary: #A8E8C6;
  --grass--solid-hover: #138D4B;
  --grass--solid: #26A15F;
  --grass--text-secondary: #7ca58f;
  --grass--text: #243A2E;
  --grass--text-solid-foreground: #E1FFE9;
}

/**
* Set up colors for the theme Grass
*/
[theme-base='grass'] {
  --base--bg-primary: var(--grass--bg-primary);
  --base--bg-secondary: var(--grass--bg-secondary);
  --base--bg-secondary-hover: var(--grass--bg-secondary-hover);
  --base--border: var(--grass--border);
  --base--solid-secondary: var(--grass--solid-secondary);
  --base--solid-hover: var(--grass--solid-hover);
  --base--solid: var(--grass--solid);
  --base--text-secondary: var(--grass--text-secondary);
  --base--text: var(--grass--text);
  --base--text-solid-foreground: var(--grass--text-solid-foreground);
}

[theme-accent='grass'] {
  --accent--bg-primary: var(--grass--bg-primary);
  --accent--bg-secondary: var(--grass--bg-secondary);
  --accent--bg-secondary-hover: var(--grass--bg-secondary-hover);
  --accent--border: var(--grass--border);
  --accent--solid-secondary: var(--grass--solid-secondary);
  --accent--solid-hover: var(--grass--solid-hover);
  --accent--solid: var(--grass--solid);
  --accent--text-secondary: var(--grass--text-secondary);
  --accent--text: var(--grass--text);
  --accent--text-solid-foreground: var(--grass--text-solid-foreground);
}
