  body[theme-base="grass"],
  body[theme-accent="grass"]{
    /**
    * Grass Dark Colors
    */
    --grass--bg-primary: #1D1D1D;
    --grass--bg-secondary: #262726;
    --grass--bg-secondary-hover:#262726;
    --grass--bg-input: #2F3330;
    --grass--border: #2F3330;
    --grass--solid-secondary: #203326;
    --grass--solid-hover: #F9FD0A;
    --grass--solid: #02A539;
    --grass--text-secondary: #7F9081;
    --grass--text: #ECF3EE;
    --grass--text-solid-foreground: #ECF3EE;
}

/**
* Set up colors for the theme Grass
*/
  body[theme-base="grass"] {
  --base--bg-primary: var(--grass--bg-primary);
  --base--bg-secondary: var(--grass--bg-secondary);
  --base--bg-secondary-hover: var(--grass--bg-secondary-hover);
  --base--bg-input: var(--grass--bg-input);
  --base--border: var(--grass--border);
  --base--solid-secondary: var(--grass--solid-secondary);
  --base--solid-hover: var(--grass--solid-hover);
  --base--solid: var(--grass--solid);
  --base--text-secondary: var(--grass--text-secondary);
  --base--text: var(--grass--text);
  --base--text-solid-foreground: var(--grass--text-solid-foreground);
}

  body[theme-accent="grass"] {
  --accent--bg-primary: var(--grass--bg-primary);
  --accent--bg-secondary: var(--grass--bg-secondary);
  --accent--bg-secondary-hover: var(--grass--bg-secondary-hover);
  --accent--bg-input: var(--grass--bg-input);
  --accent--border: var(--grass--border);
  --accent--solid-secondary: var(--grass--solid-secondary);
  --accent--solid-hover: var(--grass--solid-hover);
  --accent--solid: var(--grass--solid);
  --accent--text-secondary: var(--grass--text-secondary);
  --accent--text: var(--grass--text);
  --accent--text-solid-foreground: var(--grass--text-solid-foreground);
}



