[theme-base='grass'],
[theme-accent='grass'] {
  /**
    * Grass Dark Colors
    */
  --grass--bg-primary: #1d1d1d;
  --grass--bg-secondary: #262726;
  --grass--bg-secondary-hover: #262726;
  --grass--bg-input: #2f3330;
  --grass--border: #2f3330;
  --grass--solid-secondary: #203326;
  --grass--solid-hover: #f9fd0a;
  --grass--solid: #02a539;
  --grass--text-secondary: #7f9081;
  --grass--text: #ecf3ee;
  --grass--text-solid-foreground: #ecf3ee;
}

/**
* Set up colors for the theme Grass
*/
[theme-base='grass'] {
  --base--bg-primary: var(--grass--bg-primary);
  --base--bg-secondary: var(--grass--bg-secondary);
  --base--bg-secondary-hover: var(--grass--bg-secondary-hover);
  --base--bg-input: var(--grass--bg-input);
  --base--border: var(--grass--border);
  --base--solid-secondary: var(--grass--solid-secondary);
  --base--solid-hover: var(--grass--solid-hover);
  --base--solid: var(--grass--solid);
  --base--text-secondary: var(--grass--text-secondary);
  --base--text: var(--grass--text);
  --base--text-solid-foreground: var(--grass--text-solid-foreground);
}

[theme-accent='grass'] {
  --accent--bg-primary: var(--grass--bg-primary);
  --accent--bg-secondary: var(--grass--bg-secondary);
  --accent--bg-secondary-hover: var(--grass--bg-secondary-hover);
  --accent--bg-input: var(--grass--bg-input);
  --accent--border: var(--grass--border);
  --accent--solid-secondary: var(--grass--solid-secondary);
  --accent--solid-hover: var(--grass--solid-hover);
  --accent--solid: var(--grass--solid);
  --accent--text-secondary: var(--grass--text-secondary);
  --accent--text: var(--grass--text);
  --accent--text-solid-foreground: var(--grass--text-solid-foreground);
}
