body[theme-base='red'],
body[theme-accent='red'] {
  /**
   * Red Dark Colors
   */
  --red--bg-primary: #171313;
  --red--bg-secondary: #221b1b;
  --red--bg-secondary-hover: #302626;
  --red--bg-input: #312626;
  --red--border: #3d2121;
  --red--solid-secondary: #271616;
  --red--solid-hover: #751f22;
  --red--solid: #b72a2e;
  --red--text-secondary: #856766;
  --red--text: #f0dcdf;
  --red--text-solid-foreground: #ffebeb;
}

/**
 * Set up colors for the theme Red
 */
body[theme-base='red'] {
  --base--bg-primary: var(--red--bg-primary);
  --base--bg-secondary: var(--red--bg-secondary);
  --base--bg-secondary-hover: var(--red--bg-secondary-hover);
  --base--bg-input: var(--red--bg-input);
  --base--border: var(--red--border);
  --base--solid-secondary: var(--red--solid-secondary);
  --base--solid-hover: var(--red--solid-hover);
  --base--solid: var(--red--solid);
  --base--text-secondary: var(--red--text-secondary);
  --base--text: var(--red--text);
  --base--text-solid-foreground: var(--red--text-solid-foreground);
}

body[theme-accent='red'] {
  --accent--bg-primary: var(--red--bg-primary);
  --accent--bg-secondary: var(--red--bg-secondary);
  --accent--bg-secondary-hover: var(--red--bg-secondary-hover);
  --accent--bg-input: var(--red--bg-input);
  --accent--border: var(--red--border);
  --accent--solid-secondary: var(--red--solid-secondary);
  --accent--solid-hover: var(--red--solid-hover);
  --accent--solid: var(--red--solid);
  --accent--text-secondary: var(--red--text-secondary);
  --accent--text: var(--red--text);
  --accent--text-solid-foreground: var(--red--text-solid-foreground);
}
