[color-scheme='dark'] {
  /**
   * Red Dark Colors
   */
  --red--bg-primary: #201919;
  --red--bg-secondary: #271D1D;
  --red--bg-secondary-hover: #2A2020;
  --red--border: #322525;
  --red--solid-secondary: #271616;
  --red--solid-hover: #932529;
  --red--solid: #BB393D;
  --red--text-secondary: #B67E7C;
  --red--text: #F2DEDE;
  --red--text-solid-foreground: #FFE3E3;
}

[color-scheme='light'] {
  /**
   * Red Light Colors
   */
  --red--bg-primary: #FFE3E4;
  --red--bg-secondary: #FFECED;
  --red--bg-secondary-hover: #FCE2E2;
  --red--border: #F3D6D7;
  --red--solid-secondary: #FFCED1;
  --red--solid-hover: #C03236;
  --red--solid: #E13F3F;
  --red--text-secondary: #974A4A;
  --red--text: #291C1C;
  --red--text-solid-foreground: #ffffff;
}

/**
 * Set up colors for the theme Red
 */
[theme-base='red'] {
  --base--bg-primary: var(--red--bg-primary);
  --base--bg-secondary: var(--red--bg-secondary);
  --base--bg-secondary-hover: var(--red--bg-secondary-hover);
  --base--border: var(--red--border);
  --base--solid-secondary: var(--red--solid-secondary);
  --base--solid-hover: var(--red--solid-hover);
  --base--solid: var(--red--solid);
  --base--text-secondary: var(--red--text-secondary);
  --base--text: var(--red--text);
  --base--text-solid-foreground: var(--red--text-solid-foreground);
}

[theme-accent='red'] {
  --accent--bg-primary: var(--red--bg-primary);
  --accent--bg-secondary: var(--red--bg-secondary);
  --accent--bg-secondary-hover: var(--red--bg-secondary-hover);
  --accent--border: var(--red--border);
  --accent--solid-secondary: var(--red--solid-secondary);
  --accent--solid-hover: var(--red--solid-hover);
  --accent--solid: var(--red--solid);
  --accent--text-secondary: var(--red--text-secondary);
  --accent--text: var(--red--text);
  --accent--text-solid-foreground: var(--red--text-solid-foreground);
}
