[color-scheme='dark'] {
  --sky--bg-primary: #17273A;
  --sky--bg-secondary: #1F3147;
  --sky--bg-secondary-hover: #213751;
  --sky--border: #2E4157;
  --sky--solid-secondary: #14365D;
  --sky--solid-hover: #0075FF;
  --sky--solid: #1C84FF;
  --sky--text-secondary: #769DCC;
  --sky--text: #dfe8f6;
  --sky--text-solid-foreground: #FFFFFF;
}

[color-scheme='light'] {
  --sky--bg-primary: #DEEDFF;
  --sky--bg-secondary: #EEF6FF;
  --sky--bg-secondary-hover: #E5F1FF;
  --sky--border: #CDDEF3;
  --sky--solid-secondary: #C3DFFF;
  --sky--solid-hover: #1C589F;
  --sky--solid: #2A75CD;
  --sky--text-secondary: #1A5192;
  --sky--text: #0C2A4D;
  --sky--text-solid-foreground: #FFFFFF;
}

[theme-base='sky'] {
  --base--bg-primary: var(--sky--bg-primary);
  --base--bg-secondary: var(--sky--bg-secondary);
  --base--bg-secondary-hover: var(--sky--bg-secondary-hover);
  --base--border: var(--sky--border);
  --base--solid-secondary: var(--sky--solid-hover);
  --base--solid-hover: var(--sky--solid-hover);
  --base--solid: var(--sky--solid);
  --base--text-secondary: var(--sky--text-secondary);
  --base--text: var(--sky--text);
  --base--text-solid-foreground: var(--sky--text-solid-foreground);
}

[theme-accent='sky'] {
  --accent--bg-primary: var(--sky--bg-primary);
  --accent--bg-secondary: var(--sky--bg-secondary);
  --accent--bg-secondary-hover: var(--sky--bg-secondary-hover);
  --accent--border: var(--sky--border);
  --accent--solid-secondary: var(--sky--solid-secondary);
  --accent--solid-hover: var(--sky--solid-hover);
  --accent--solid: var(--sky--solid);
  --accent--text-secondary: var(--sky--text-secondary);
  --accent--text: var(--sky--text);
  --accent--text-solid-foreground: var(--sky--text-solid-foreground);
}
