[theme-base='violet'],
[theme-accent='violet'] {
  /**
   * Violet Dark Colors
   */
  --violet--bg-primary: #19141e;
  --violet--bg-secondary: #261f2d;
  --violet--bg-secondary-hover: #302b36;
  --violet--bg-input: #403847;
  --violet--border: #362b40;
  --violet--solid-secondary: #261636;
  --violet--solid-hover: #461577;
  --violet--solid: #913be6;
  --violet--text-secondary: #a389bd;
  --violet--text: #d9cee5;
  --violet--text-solid-foreground: #f2f1f4;
}

/**
 * Set up colors for the theme Violet
 */
[theme-base='violet'] {
  --base--bg-primary: var(--violet--bg-primary);
  --base--bg-secondary: var(--violet--bg-secondary);
  --base--bg-secondary-hover: var(--violet--bg-secondary-hover);
  --base--bg-input: var(--violet--bg-input);
  --base--border: var(--violet--border);
  --base--solid-secondary: var(--violet--solid-secondary);
  --base--solid-hover: var(--violet--solid-hover);
  --base--solid: var(--violet--solid);
  --base--text-secondary: var(--violet--text-secondary);
  --base--text: var(--violet--text);
  --base--text-solid-foreground: var(--violet--text-solid-foreground);
}

[theme-accent='violet'] {
  --accent--bg-primary: var(--violet--bg-primary);
  --accent--bg-secondary: var(--violet--bg-secondary);
  --accent--bg-secondary-hover: var(--violet--bg-secondary-hover);
  --accent--bg-input: var(--violet--bg-input);
  --accent--border: var(--violet--border);
  --accent--solid-secondary: var(--violet--solid-secondary);
  --accent--solid-hover: var(--violet--solid-hover);
  --accent--solid: var(--violet--solid);
  --accent--text-secondary: var(--violet--text-secondary);
  --accent--text: var(--violet--text);
  --accent--text-solid-foreground: var(--violet--text-solid-foreground);
}
