:root {
  /**
   * Base colors.
   * Should not be used directly.
   * Should not be changed in themes.
   */
  --color-white: #FFF;
  --color-black: #000;
  --color-transparent: rgba(255, 255, 255, 0);
  --color-gray-dimmed: #242527;
  --color-gray-contrast: #1A1B1C;
  --color-gray-light-shade: #E9E9E9;
  --color-gray-light: #94979A;
  --color-gray-superlight: #F1F1F1;
  --color-blue-bright: #369FFF;

  /**
   * Text
   */
  --color-text-main: var(--color-gray-light);
  --color-text-heading: var(--color-white);

  /**
   * Background
   */
  --color-bg: var(--color-gray-dimmed);
  --color-bg-header: var(--color-gray-contrast);
  --color-signal: var(--color-blue-bright);

  /**
   * Line
   */
  --color-line: var(--color-gray-superlight);
  --color-delimiter-light: var(--color-transparent);
}

.light {
   /**
   * Text
   */
  --color-text-main: var(--color-black);
  --color-text-heading: var(--color-black);

  /**
  * Background
  */
  --color-bg: var(--color-white);
  --color-bg-header: var(--color-white);
  --color-signal: var(--color-blue-bright);

  /**
  * Line
  */
  --color-line: var(--color-gray-light-shade);
  --color-delimiter-light: var(--color-gray-light-shade);
}