:root {
  /**
   * Base colors.
   * Should not be used directly.
   * Should not be changed in themes.
   */
  --color-white: #fff;
  --color-black: #000;
  --color-transparent: rgba(255, 255, 255, 0);
  --color-gray-dimmed: #242527;
  --color-gray-contrast: #1a1b1c;
  --color-gray-light: #94979a;
  --color-gray-superlight: #f1f1f1;
  --color-blue-bright: #369fff;

  /**
   * Text
   */
  --color-text-main: var(--color-gray-light);
  --color-text-heading: var(--color-white);
  --color-text-contrast: var(--color-white);

  /**
   * Background
   */
  --color-bg: var(--color-gray-dimmed);
  --color-bg-header: var(--color-gray-contrast);
  --color-bg-signal: var(--color-blue-bright);

  /**
   * Line
   */
  --color-line: var(--color-gray-superlight);
  --color-delimiter-light: var(--color-transparent);
}

.light {
  /**
  * Text
  */
  --color-text-main: var(--color-gray-contrast);
  --color-text-heading: var(--color-gray-contrast);
  --color-text-contrast: var(--color-black);

  /**
  * Background
  */
  --color-bg: var(--color-white);
  --color-bg-header: var(--color-white);
  --color-bg-signal: var(--color-blue-bright);

  /**
  * Line
  */
  --color-line: var(--color-gray-superlight);
  --color-delimiter-light: var(--color-gray-superlight);
}
