:root {
  /**
   * Base colors.
   * Should not be used directly.
   * Should not be changed in themes.
   */
  --color-white: #FFF;
  --color-black: #000;
  --color-transparent: rgba(255, 255, 255, 0);
  --color-gray-dimmed: #242527;
  --color-gray-contrast: #1A1B1C;
  --color-gray-light: #94979A;
  --color-gray-superlight: #F1F1F1;
  --color-blue-bright: #369FFF;

  /**
   * Text
   */
  --color-text-main: var(--color-gray-light);
  --color-text-heading: var(--color-white);
  --color-text-contrast: var(--color-white);

  /**
   * Background
   */
  --color-bg: var(--color-gray-dimmed);
  --color-bg-header: var(--color-gray-contrast);
  --color-bg-signal: var(--color-blue-bright);

  /**
   * Line
   */
  --color-line: var(--color-gray-superlight);
  --color-delimiter-light: var(--color-transparent);

  /**
   * Classic Dark Colors
   */
   --bg-primary-classic: #242527;
   --bg-secondary-classic: #2C2D30;
   --bg-secondary-hover-classic:#3B3C40;
   --bg-input-classic: #383A3E;
   --border-classic: #363940;
   --solid-secondary-classic: #27303B;
   --solid-hover-classic: #183B65;
   --solid-classic: #1C84FF;
   --text-secondary-classic: #94979A;
   --text-classic: #F5F5F5;
   --text-solid-foreground-classic: #F5F5F5;

  /**
   * Crimson Dark Colors
   */
   --bg-primary-crimson: #1D1A1B;
   --bg-secondary-crimson: #272324;
   --bg-secondary-hover-crimson:#322A2D;
   --bg-input-crimson: #383134;
   --border-crimson: #51383E;
   --solid-secondary-crimson: #311C22;
   --solid-hover-crimson: #600F27;
   --solid-crimson: #DD2058;
   --text-secondary-crimson: #A4858D;
   --text-crimson: #FADBE4;
   --text-solid-foreground-crimson: #F9F9F9;

  /**
   * Grass Dark Colors
   */
   --bg-primary-grass: #1D1D1D;
   --bg-secondary-grass: #262726;
   --bg-secondary-hover-grass:#262726;
   --bg-input-grass: #2F3330;
   --border-grass: #2F3330;
   --solid-hover-grass: #F9FD0A;
   --solid-grass: #02A539;
   --text-secondary-grass: #7F9081;
   --text-grass: #ECF3EE;
   --text-solid-foreground-grass: #ECF3EE;



  /**
   * Pure Dark colors
   */
   --bg-primary-pure: #000000;
   --bg-secondary-pure: #000000;
   --bg-secondary-hover-pure:#191919;
   --bg-input-pure: #191919;
   --border-pure: #1C1C1C;
   --solid-hover-pure: #F8FD1A;
   --solid-pure: #3E3E3E;
   --text-secondary-pure: #828282;
   --text-pure: #FFFFFF;
   --text-solid-foreground-pure: #FFFFFF;

  /**
   * Red Dark Colors
   */
   --bg-primary-red: #171313;
   --bg-secondary-red: #221B1B;
   --bg-secondary-hover-red: #302626;
   --bg-input-red: #312626;
   --border-red: #3D2121;
   --solid-secondary-red: #271616;
   --solid-hover-red: #751F22;
   --solid-red: #B72A2E;
   --text-secondary-red: #856766;
   --text-red: #F0DCDF;
   --text-solid-foreground-red: #FFEBEB;

  /**
   * Violet Dark Colors
   */
   --bg-primary-violet: #19141E;
   --bg-secondary-violet: #261F2D;
   --bg-secondary-hover-violet: #302B36;
   --bg-input-violet: #403847;
   --border-violet: #362B40;
   --solid-secondary-violet: #261636;
   --solid-hover-violet: #461577;
   --solid-violet: #913BE6;
   --text-secondary-violet: #A389BD;
   --text-violet: #D9CEE5;
   --text-solid-foreground-violet: #F2F1F4;


}

.light {
  /**
  * Text
  */
  --color-text-main: var(--color-gray-contrast);
  --color-text-heading: var(--color-gray-contrast);
  --color-text-contrast: var(--color-black);

  /**
  * Background
  */
  --color-bg: var(--color-white);
  --color-bg-header: var(--color-white);
  --color-bg-signal: var(--color-blue-bright);

  /**
  * Line
  */
  --color-line: var(--color-gray-superlight);
  --color-delimiter-light: var(--color-gray-superlight);
}

