@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/SourceSansPro/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/SourceSansPro/SourceSansPro-Bold.otf") format("opentype");
}
