--spacing-very-x: 2;
--spacing-xxs: 4;
--spacing-xs: 6;
--spacing-s: 8;
--spacing-ms: 10;
--spacing-mm: 12;
--spacing-ml: 16;
--spacing-l: 20;

--size-icon: 24;

--radius-s: 4;
--radius-m: 8;
--radius-l: 16;

--layout-content-width: 700;