#app {
  --spacing-very-x: 2px;
  --spacing-xxs: 4px;
  --spacing-xs: 6px;
  --spacing-s: 8px;
  --spacing-ms: 10px;
  --spacing-mm: 12px;
  --spacing-ml: 16px;
  --spacing-l: 20px;

  --size-icon: 24px;

  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 16px;

  --layout-content-width: 700px;

  --layout-header-height: 52px;
}
