:root {
  /**
   * Spacings: margins, paddings & etc
   */
  --spacing-very-x: 2px;
  --spacing-xxs: 4px;
  --spacing-xs: 6px;
  --spacing-s: 8px;
  --spacing-ms: 10px;
  --spacing-m: 12px;
  --spacing-ml: 16px;
  --spacing-l: 20px;

  /**
   * Element sized
   */
  --size-icon: 24px;

  /**
   * Border radius
   */
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 16px;

  /**
   * Layout sizes: width, height, etc
   */
  --layout-content-width: 700px;
  --layout-tab-max-width: 200px;
  --layout-header-avatar: 32px;
}
