.theme-base-red {
  --bg-primary-base: var(--bg-primary-red);
  --bg-secondary-base: var(--bg-secondary-red);
  --bg-secondary-hover-base: var(--bg-secondary-hover-red);
  --bg-input-base: var(--bg-input-red);
  --border-base: var(--border-red);
  --solid-hover-base: var(--solid-hover-red);
  --solid-base: var(--solid-red);
  --text-secondary-base: var(--text-secondary-red);
  --text-base: var(--text-red);
  --text-solid-foreground-base: var(--text-solid-foreground-red);
}

.theme-accent-red {
  --bg-primary-accent: var(--bg-primary-red);
  --bg-secondary-accent: var(--bg-secondary-red);
  --bg-secondary-hover-accent: var(--bg-secondary-hover-red);
  --bg-input-accent: var(--bg-input-red);
  --border-accent: var(--border-red);
  --solid-secondary-accent: var(--solid-secondary-red);
  --solid-hover-accent: var(--solid-hover-red);
  --solid-accent: var(--solid-red);
  --text-secondary-accent: var(--text-secondary-red);
  --text-accent: var(--text-red);
  --text-solid-foreground-accent: var(--text-solid-foreground-red);
}
