.theme-base-crimson {
  --bg-primary-base: var(--bg-primary-crimson);
  --bg-secondary-base: var(--bg-secondary-crimson);
  --bg-secondary-hover-base: var(--bg-secondary-hover-crimson);
  --bg-input-base: var(--bg-input-crimson);
  --border-base: var(--border-crimson);
  --solid-hover-base: var(--solid-hover-crimson);
  --solid-base: var(--solid-crimson);
  --text-secondary-base: var(--text-secondary-crimson);
  --text-base: var(--text-crimson);
  --text-solid-foreground-base: var(--text-solid-foreground-crimson);
}

.theme-accent-crimson {
  --bg-primary-accent: var(--bg-primary-crimson);
  --bg-secondary-accent: var(--bg-secondary-crimson);
  --bg-secondary-hover-accent: var(--bg-secondary-hover-crimson);
  --bg-input-accent: var(--bg-input-crimson);
  --border-accent: var(--border-crimson);
  --solid-secondary-accent: var(--solid-secondary-crimson);
  --solid-hover-accent: var(--solid-hover-crimson);
  --solid-accent: var(--solid-crimson);
  --text-secondary-accent: var(--text-secondary-crimson);
  --text-accent: var(--text-crimson);
  --text-solid-foreground-accent: var(--text-solid-foreground-crimson);
}
