.theme-base-pure {
  --bg-primary-base: var(--bg-primary-pure);
  --bg-secondary-base: var(--bg-secondary-pure);
  --bg-secondary-hover-base: var(--bg-secondary-hover-pure);
  --bg-input-base: var(--bg-input-pure);
  --border-base: var(--border-pure);
  --solid-hover-base: var(--solid-hover-pure);
  --solid-base: var(--solid-pure);
  --text-secondary-base: var(--text-secondary-pure);
  --text-base: var(--text-pure);
  --text-solid-foreground-base: var(--text-solid-foreground-pure);
}

.theme-accent-classic {
  --bg-primary-accent: var(--bg-primary-classic);
  --bg-secondary-accent: var(--bg-secondary-classic);
  --bg-secondary-hover-accent: var(--bg-secondary-hover-classic);
  --bg-input-accent: var(--bg-input-classic);
  --border-accent: var(--border-classic);
  --solid-secondary-accent: var(--solid-secondary-classic);
  --solid-hover-accent: var(--solid-hover-classic);
  --solid-accent: var(--solid-classic);
  --text-secondary-accent: var(--text-secondary-classic);
  --text-accent: var(--text-classic);
  --text-solid-foreground-accent: var(--text-solid-foreground-classic);
}
