/* themes.pcss */
:root {
  /* Base - Classic */
  --base-classic-bgPrimary: #000000;
  --base-classic-bgSecondary: #000000;
  --base-classic-bgSecondaryHover: #191919;
  --base-classic-bgInput: #161616;
  --base-classic-border: #1C1C1C;
  --base-classic-solidHover: #F8FD1A;
  --base-classic-solid: #3E3E3E;
  --base-classic-textSecondary: #828282;
  --base-classic-text: #FFFFFF;
  --base-classic-textSolidForeground: #FFFFFF;

  /* Base - Crimson */
  --base-crimson-bgPrimary: #1D1A1B;
  --base-crimson-bgSecondary: #272324;
  --base-crimson-bgSecondaryHover: #322A2D;
  --base-crimson-bgInput: #383134;
  --base-crimson-border: #51383E;
  --base-crimson-solidHover: #600F27;
  --base-crimson-solid: #DD2058;
  --base-crimson-textSecondary: #A4858D;
  --base-crimson-text: #FADBE4;
  --base-crimson-textSolidForeground: #F9F9F9;

  /* Base - Violet */
  --base-violet-bgPrimary: #19141E;
  --base-violet-bgSecondary: #261F2D;
  --base-violet-bgSecondaryHover: #261F2D;
  --base-violet-bgInput: #302B36;
  --base-violet-border: #362B40;
  --base-violet-solidHover: #261636;
  --base-violet-solid: #913BE6;
  --base-violet-textSecondary: #A389BD;
  --base-violet-text: #D9CEE5;
  --base-violet-textSolidForeground: #F2F1F4;

  /* Base - Red */
  --base-red-bgPrimary: #171313;
  --base-red-bgSecondary: #221B1B;
  --base-red-bgSecondaryHover: #302626;
  --base-red-bgInput: #312626;
  --base-red-border: #3D2121;
  --base-red-solidHover: #751F22;
  --base-red-solid: #B72A2E;
  --base-red-textSecondary: #856766;
  --base-red-text: #F0DCDF;
  --base-red-textSolidForeground: #FFEBEB;

  /* Accent - Classic */
  --accent-classic-bgPrimary: #242527;
  --accent-classic-bgSecondary: #2C2D30;
  --accent-classic-bgSecondaryHover: #3B3C40;
  --accent-classic-bgInput: #383A3E;
  --accent-classic-border: #383A3E;
  --accent-classic-solidSecondary: #27303B;
  --accent-classic-solidHover: #183B65;
  --accent-classic-solid: #1C84FF;
  --accent-classic-textSecondary: #94979A;
  --accent-classic-text: #F5F5F5;
  --accent-classic-textSolidForeground: #F5F5F5;

  /* Accent - Crimson */
  --accent-crimson-bgPrimary: #1D1A1B;
  --accent-crimson-bgSecondary: #272324;
  --accent-crimson-bgSecondaryHover: #322A2D;
  --accent-crimson-bgInput: #383134;
  --accent-crimson-border: #51383E;
  --accent-crimson-solidSecondary: #311C22;
  --accent-crimson-solidHover: #600F27;
  --accent-crimson-solid: #DD2058;
  --accent-crimson-textSecondary: #A4858D;
  --accent-crimson-text: #FADBE4;
  --accent-crimson-textSolidForeground: #FADBE4;

  /* Accent - Violet */
  --accent-violet-bgPrimary: #19141E;
  --accent-violet-bgSecondary: #261F2D;
  --accent-violet-bgSecondaryHover: #302B36;
  --accent-violet-bgInput: #403847;
  --accent-violet-border: #362B40;
  --accent-violet-solidSecondary: #261636;
  --accent-violet-solidHover: #461577;
  --accent-violet-solid: #913BE6;
  --accent-violet-textSecondary: #A389BD;
  --accent-violet-text: #D9CEE5;
  --accent-violet-textSolidForeground: #F2F1F4;

  /* Accent - Red */
  --accent-red-bgPrimary: #171313;
  --accent-red-bgSecondary: #221B1B;
  --accent-red-bgSecondaryHover: #403838;
  --accent-red-bgInput: #312626;
  --accent-red-border: #3D2121;
  --accent-red-solidSecondary: #271616;
  --accent-red-solidHover: #271616;
  --accent-red-solid: #B72A2E;
  --accent-red-textSecondary: #856766;
  --accent-red-text: #F0DCDF;
  --accent-red-textSolidForeground: #FFEBEB;
}
