.theme-base-violet {
  --bg-primary-base: var(--bg-primary-violet);
  --bg-secondary-base: var(--bg-secondary-violet);
  --bg-secondary-hover-base: var(--bg-secondary-hover-violet);
  --bg-input-base: var(--bg-input-violet);
  --border-base: var(--border-violet);
  --solid-hover-base: var(--solid-hover-violet);
  --solid-base: var(--solid-violet);
  --text-secondary-base: var(--text-secondary-violet);
  --text-base: var(--text-violet);
  --text-solid-foreground-base: var(--text-solid-foreground-violet);
}

.theme-accent-violet {
  --bg-primary-accent: var(--bg-primary-violet);
  --bg-secondary-accent: var(--bg-secondary-violet);
  --bg-secondary-hover-accent: var(--bg-secondary-hover-violet);
  --bg-input-accent: var(--bg-input-violet);
  --border-accent: var(--border-violet);
  --solid-secondary-accent: var(--solid-secondary-violet);
  --solid-hover-accent: var(--solid-hover-violet);
  --solid-accent: var(--solid-violet);
  --text-secondary-accent: var(--text-secondary-violet);
  --text-accent: var(--text-violet);
  --text-solid-foreground-accent: var(--text-solid-foreground-violet);
}
