--heading1: {
    font-weight: 700;
    font-size: 46px;
    line-height: 44px;
}

--heading2: {
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
}

--heading3: {
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
}

--heading4: {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

--body1: {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

--body2: {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}