:root {
  /**
   * Spacings
   */
  --spacing-very-x: 2px;
  --spacing-xxs: 4px;
  --spacing-xs: 6px;
  --spacing-s: 8px;
  --spacing-ms: 10px;
  --spacing-m: 12px;
  --spacing-ml: 16px;
  --spacing-l: 20px;
  --spacing-xl: 30px;
  --spacing-xxl: 40px;

  /**
   * Elements
   */
  --size-icon: 20px;
  --size-avatar: 30px;

  /**
   * Layout
   */
  --layout-content-width: 700px;

  /**
   * Height of the line between list items
   */
  --delimiter-height: 1px;

  /**
   * Radius
   */
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-ml: 12px;
  --radius-l: 16px;

  /**
   * Padding
   */
  --h-padding: var(--spacing-ms);
  --v-padding: var(--spacing-xs);
}
