:root {
  /**
   * Spacings
   */
  --spacing-very-x: 2px;
  --spacing-xxs: 4px;
  --spacing-xs: 6px;
  --spacing-s: 8px;
  --spacing-ms: 10px;
  --spacing-m: 12px;
  --spacing-ml: 16px;
  --spacing-l: 20px;
  --spacing-xl: 30px;
  --spacing-xxl: 40px;

  /**
   * Elements
   */
  --size-icon: 20px;
  --size-avatar: 30px;

  /**
   * Layout
   */
  --layout-content-width: 700px;
  --layout-block-width: 300px;
  --layout-sidebar-width: 300px;
  --layout-navbar-height: 51px;

  /**
   * Height of the line between list items
   */
  --delimiter-height: 1px;

  /**
   * Radius
   */
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-ml: 12px;
  --radius-l: 16px;

  /**
   * Controls dimensions
   * "medium" is used by default
   */
  --v-padding: var(--spacing-s);
  --h-padding: var(--spacing-m);
  --radius-field: var(--radius-m);
}

[data-dimensions="small"] {
  --v-padding: var(--spacing-xs);
  --h-padding: var(--spacing-ms);
  --radius-field: var(--radius-s);
}

[data-dimensions="medium"] {
  --v-padding: var(--spacing-s);
  --h-padding: var(--spacing-m);
  --radius-field: var(--radius-m);
}

[data-dimensions="large"] {
  --v-padding: var(--spacing-m);
  --h-padding: var(--spacing-l);
  --radius-field: var(--radius-ml);
}
