# Исключаем исходные файлы и ненужные директории
dev/
node_modules/
src/
*.log
*.lock
.npmrc
.git/
.gitignore
.github/
.idea/
.vscode/

# Исключаем файлы конфигурации
tsconfig.json
tsconfig.dts.json
eslint.config.mjs
postcss.config.js
vite.config.ts

# Исключаем документацию и вспомогательные файлы (если не нужны)
README.md
